.ejemplo{
    margin-top:42vh;
    text-align: center;
}

.id1{
    color:#F34236;
}
.id2{
    color:#E81D62;
}
.id3{
    color:#00BBD3;
}
.id4{
    color:#6639B6;
}
.id5{
    color:#3E50B4;
}
.id6{
    color:#2095F2;
}
.id7{
    color:#4BAE4F;
}
.id8{
    color:#CCDB38;
}
.id9{
    color:#785447;
}
.id10{
    color:#5F7C8A;
}
.id11{
    color:#FEC007;
}
.id12{
    color:#8AC249;
}
.id13{
    color:#00BBD3;
}

.emocion{
    margin-top: 3vh;
    cursor: pointer;
}

.primero{
    margin-top:10vh;
}

.emociones{
    height: 90vh;
    overflow-y: scroll;
}

.emocion-text{
    font-size: 2em;
    padding-left: 1em;
}

#textBtn{
    color:white;
}

#hide{
    display: none;
}